@model List<Order>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeliveryApp</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>

<body>
    @if (Model.Count == 0)
    {
        <p>Nothing</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Dishes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.CustomerName</td>
                        <td>@item.Email</td>
                        <td>@item.Phone</td>
                        <td>@item.Address</td>
                        <td>
                            @foreach (var dish in item.OrderedDishes)
                            {
                                <div>@dish.Dish.Name - @dish.Quantity</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>

</html>